
<div class="container" style="border-style:solid">
  <div >
    <h1>
        <img src="./../../assets/rat-logo.png" />
      <br><br>
      Road Ahead Technologies Pvt Ltd Registration-Form</h1>
    </div>
    
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" ngModel required name="name" id="name"  #name="ngModel" pattern="[a-zA-Z][a-zA-Z ]+"/>
      <div class="form-control alert-danger" *ngIf="name.invalid && name.touched">Invalid Name</div>
      </div>
      <div class="form-group">
        <label for="number">Number</label>
      <input pattern="[0-9]*" required minlength="10" maxlength="10" class="form-control" ngModel name="number" id="number" #number="ngModel"/>
    </div>
    <div *ngIf="number.invalid && number.touched" class="alert-danger">
      Number is invalid
      <div *ngIf="number.errors.minlength" class="alert-danger">Not a 10 digit number</div>
    </div>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel name="email" class="form-control" id="email" #email="ngModel" required type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
      <div class="form-control alert-danger" *ngIf="email.invalid && email.touched">Email is invalid</div>
    </div> 
    <div class="form-group">
      <label for="college">College</label>
      <input type="text" class="form-control" ngModel #college="ngModel" name="college" id="college" required pattern="[a-zA-Z][a-zA-Z ]+" (change)="getDate()" />
      <div class="alert-danger form-control" *ngIf="college.invalid && college.touched" >Invalid College Name</div>
    </div>

    <div class="form-group">
        <label for="formdate">Registration Date</label>
         <input type="date" ngModel name="formdate" id="formdate" #formdate="ngModel" ngModel required  class="form-control" [(ngModel)]="today" />
         <div class="alert alert-danger" *ngIf="formdate.invalid && formdate.touched">Enter the registration date  </div>
       </div>

    <label>Packages</label>
    <div class="form-group" >
      <label>Select the desired package</label>
      <select class="form-control" (change)="package(x.value)" #x  ngModel name="package">
        <option>None</option>
        <option *ngFor="let package of packages" id={{package.name}}>{{package.name}}</option>
      </select>
    </div>
  <label>Individual Courses</label>
  <div ngModelGroup="individual_courses">    
    <div class="form-group " >
      <div *ngFor="let course of courses">
        <label class="checkbox-inline">
          <input type="checkbox" ngModel name="{{course.name}}" id="{{course.name}}">{{course.name}}
        </label> &nbsp;
      </div>
    </div>
  </div>
<br>
<button (click)="fees()" type="button" class="btn btn-info" style="margin-bottom: 2%">Calculate Fees</button> 
  <div class="form-group">
    <label for="totalfees"> Net Fee </label>
    <input pattern="[0-9]*" class="form-control" ngModel name="totalfees" id="totalfees" #totalfees="ngModel" required [(ngModel)]="fee" /> 
    <div *ngIf="totalfees.invalid && totalfees.touched" class="alert-danger d-block">Invalid Amount Entered</div>
  </div>
  

  <div class="form-group">
      <label for="feepaid">Fee Paid</label>
    <input pattern="[0-9]*" class="form-control" ngModel name="feepaid" id="feepaid" #feepaid="ngModel" required [(ngModel)]="paidfee" (keyup)="findDueFee()"  />
    <div *ngIf="feepaid.invalid && feepaid.touched" class="alert-danger">Invalid Amount Entered</div>
  </div>

  <div class="form-group">
      <label for="feepaid">Fee Due</label>
    <input pattern="[0-9]*" class="form-control" ngModel name="duefee" id="duefee" #duefee="ngModel" required [(ngModel)]="feedue"/>
    <div *ngIf="feepaid.invalid && feepaid.touched" class="alert-danger">Invalid Amount Entered</div>
  </div>

  <div class="form-group">
      <label for="duedate">Amount Due Date</label>
       <input type="date" ngModel name="duedate" id="duedate" #duedate="ngModel" ngModel class="form-control" [required]="feedue_flag" />
       <div class="alert alert-danger" *ngIf="duedate.invalid && duedate.touched">Enter the due date</div>
     </div>

    <div class="form-group">
      <label for="enquiry">Special Comments</label>
      <textarea class="form-control" rows="2" cols="2" name="enquiry" id="enquiry"  ngModel #comments="ngModel" ></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
  </form>
</div>
