
<div class="login-card">
  <img src="./assets/rat-logo.png" class="profile-img-card">
  <p class="profile-name-card"> </p>
  <form class="form-signin" #f="ngForm" (ngSubmit)="submit(f.value)">
      <select name="branch" id="branch" class="form-control" ngModel #branch="ngModel" required autofocus>
        <option value="">Select Branch</option>
        <option value="tr">Tonk Road</option>
        <option value="pn">Pratap Nagar</option>
      </select>
      <div class="alert alert-danger" *ngIf="branch.invalid && branch.touched">Select the branch!!!</div>
      <input class="form-control" type="password" required="" placeholder="Enter Password" name="pwd" id="pwd" ngModel #pwd="ngModel">
      <div class="alert alert-danger" *ngIf="pwd.invalid && pwd.touched">Password is required !!!</div>
    <button class="btn btn-primary btn-block btn-lg btn-signin" [disabled]="!f.valid" type="submit">Sign in</button>
  </form>
<a href="#" class="forgot-password">Forgot your password?</a></div>