<div class="container" style="border-style: groove">
  
  <div class="form-group">
        <button class="btn btn-primary form-control" (click)="print()">Take Excel</button>
  </div>

  <table class="table" id="excel">
  <thead (click)="sort()">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Email</th>
      <th scope="col" data-sort="int" data-sort-order="desc">Due Fees &#8691; </th>
      <th scope="col">Due Date</th>
      <th scope="col" class="noExl">Send Reminder Mail</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of students">
        <td>{{detail.name}}</td>
        <td>{{detail.mobile}}</td>
        <td> {{detail.email}}</td>
        <td>₹ {{detail.fee_due}}</td>
        <td>{{detail.last_due | date}}</td>
        <td class="noExl"> <button class="btn btn-primary" type="button" (click)="openModal(detail.email,detail.fee_due)" >Send Email</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="sendmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="sendMail(f.value)">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="subject" >
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="text" name="text" [(ngModel)]="text" placeholder="type the message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button class="btn btn-primary" type="submit" (click)="sendMail(f.value)" >Send message</button>
      </div>
    </div>
  </div>
</div>
