<div class="container" style="border-style:groove">
  <p class="h3" style="text-align: center">Here are the details of {{student.mobile}}</p>
    <table class="table table-striped" >
        <tbody>
          <tr>
            <td>Name  </td>
            <td>{{student.name}}</td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td>{{student.mobile}} </td>
          </tr>
          <tr>
            <td>Email</td>
            <td> {{student.email}}</td>
          </tr>
          <tr>
            <td>College</td>
            <td> {{student.college}}</td>
          </tr>
          <tr>
            <td>Package Opted</td>
            <td>{{student.package_opted}}</td>
          </tr>
          <tr>
            <td>All Subjects</td>
            <td>{{student.individual_courses}}</td>
          </tr>
          <tr>
            <td>Registration Date</td>
            <td>{{student.registration_date | date}}</td>
          </tr>
          <tr>
            <td>Total Fee</td>
            <td>{{student.total_fee}}</td>
          </tr>
          <tr>
            <td>Fee Paid</td>
            <td>{{student.fee_paid}}</td>
          </tr>
          <tr>
            <td>Fee Due</td>
            <td>{{student.fee_due}}</td>
          </tr>
          <tr>
            <td>Due Date</td>
            <td>{{student.due_date | date}}</td>
          </tr>
          <tr>
            <td>Comments if any</td>
            <td>{{student.comments}}</td>
          </tr>
          </tbody>
      </table>
</div>
